server:
  pidfile: {{ unbound_pid_file }}
  include: {{ unbound_confd_dir }}/*.conf
  interface: {{ unbound_interface }}
{% for ac in unbound_access_control %}
  access-control: {{ ac }}
{% endfor %}
  do-ip6: {{ 'yes' if unbound_do_ip6|bool else 'no' }}
  root-hints: {{ unbound_etc_dir }}/root.hints
  use-syslog: no
  verbosity: 1
  log-queries: yes
{% for lz in unbound_local_zones %}
  local-zone: "{{ lz }}." nodefault
{% endfor %}
{% for zone in unbound_forward_zones %}
forward-zone:
  name: "{{ zone.name }}."
  forward-addr: {{ zone.forwardaddr }}
{% endfor %}
